/* Estilos do Cabeçalho de Navegação */
#navbar {
  background: var(--header-bg); /* Tom de roxo/azul escuro */
  padding: 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

#navbar nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

#navbar a {
  color: var(--text-color); /* Azul claro */
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 8px;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
  display: inline-block; /* Garante que o transform funcione bem */
}

#navbar a:hover {
  color: var(--link-color); /* Branco puro para destaque */
  transform: scale(1.2);
  background-color: rgba(165, 197, 255, 0.1);
}

.theme-switcher {
  margin-left: auto;
  margin-right: 20px; /* Adicionado margem à direita */
}

/* Media Query para Telas Menores */
@media (max-width: 480px) {
  #navbar {
    padding: 1rem 0.5rem;
    text-align: center;
  }
  #navbar a {
    margin: 0 8px;
    font-size: 0.9rem;
  }
}